<% content_for :title do %>About<% end %>
<h3>About Adrian Sharma </h3>
<p>He was born in Halifax, Nova Scotia. He loved football growing up. When he got older
he enjoyed not rocking his brain about in its skull. Luckly he saved his brain and
not only graduated from Dalhousie university but went on to become a scientist. During 
his Ph.D., he lead a team of researchers that mined genetic sequence data 
to discover Actinorhodopsins; you don't need to know what these are, except to say that it 
landed him a research position at MIT. At MIT, Adrian studied microbial life in the sea, meaning
he went on various oceanic sampling expeditions in exotic places like Hawaii, Chile and Easter Island.
These expeditions generated tidal waves of genetic sequence data that required learning how to
program computers to prevent from drowning, which lead to his current interest in programming. </p>
<p>His favorite quotation is: "We become excellent by doing excellent things (over and over and over until they become part of our wiring)."</p>