<% content_for :title do %>About Lily<% end %>
<div class="row.full-width">
    <div class="row labelrow">
    	<div class="small-10 column">
    		<h3 class = "about_text">About Lily Ting </h3>
    		<p class="about_text">
        		Lily Ting! Lily was born in Sydney, Australia. Her interest in sport and fitness developed during
				university, when she became the goalie for the varsity fieldhockey team. When she started her doctorate, she had 
				less time to commit to team sport (and got tired of being a punching bag for a field hockey ball!) so 
				she took up going to the gym and attending fitness classes. But it wasn't until she moved to Boston 
				in 2008 that she really became addicted to fitness and made it a cornerstone of her lifestyle. She joined
				the <a id="b1" href="http://www.boston1.org/">Boston 1 Dragon Boat team</a>, where she is now one of three headcoaches. During the summer she spends her fitness hours on the water, paddling or instructing others on how to release their inner dragon. In the offseaon, she leads burn (cardio) sessions for the team and makes sure paddlers are ready to light up the water when the season starts back up in May. Her favorite thing about the offseason is buying different 
				groupons for a wide range of fitness studios and trying new classes. Now she's decided to share some
				of her fitness experiences with you!
			<p>
		</div>
    </div>
        <%= image_tag "irish_andy_lily_ting_2.jpg" %>
</div>
