// import the CSS framework
@import "foundation";

// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; }
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px; }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }

// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }

.labelrow {
  position: absolute;
  left: 30%;
  top: 5%;
}
.row.full-width {
  width: 100%;
  max-width: 100%;
}
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  background-color: #eee;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
big_section {
  @extend .row;
  }  
.about_text {
  color: #FFFFFF;
  background-color: rgba(125,125,125,0.6);
  text-align: left;
  font-weight: bold;
  }
#b1 {
  color: #4C0066;
}
#welcome {
  text-align: left;
}

